#card {
  width: 500px;
  height: 100%;
  align-self: center;
}

input {
  border: 2px #04395E solid;
  //border-bottom: 2px solid red;
  height: 35px;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.redBox {
  height: 4px;
  border-right: red 4px solid;
  border-left: red 4px solid;
  background-color: red;
  width: 100%;
}

button {
  background-color: #04395E; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0 0 300px;
}

/*input[type=password] {
  border: none;
  font-size: 15px;
}*/

label {
  font-family: roboto, sans-serif;
  font-size: 1.2em;
  margin: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
