<div class="header">
  <img id="logo" src="/assets/images/logoName.png"  alt="Logo avec le nom shardeo"/>
  <div id="navigations">
    <div class="navigation">
      <p class="textNav">Populaire</p>
      <div class="blockGreen"></div>
    </div>
    <div class="navigation">
      <p class="textNav">Fil d'actualités</p>
      <div class="blockGreen"></div>
    </div>
    <div class="navigation">
      <p class="textNav">Inspiration</p>
      <div class="blockGreen"></div>
    </div>
    <div class="navigation">
      <p class="textNav">Créateurs</p>
      <div class="blockGreen"></div>
    </div>
    <div class="navigation">
      <p class="textNav">Créer mon portfolio</p>
      <div class="blockGreen"></div>
    </div>
    <div class="navigation">
      <p class="textNav">Mon profil</p>
      <div class="blockGreen"></div>
    </div>
  </div>

</div>
