#subHeader {
  display: flex;
  flex-direction: row;
  margin-top: 140px;
  margin-bottom: 120px;
  justify-content: space-between;
}

#previewUser {
  margin-left: 4%;
}

#description {
  align-self: center;
  width: 30%;
  margin-right: 10%;

  font-family: roboto, sans-serif;
  font-size: 1.2em;
}
